apiVersion: 1

datasources:
  - name: Lokaltreu Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    isDefault: true
    editable: true
    version: 1
    jsonData:
      httpHeaderName1: X-Observability-Source
    secureJsonData:
      httpHeaderValue1: dev
