*.log
dist/
node_modules/
apps/api/src/**/*.js
apps/api/src/**/*.d.ts
*.enc.tfvars
.env*
# Terraform
infra/terraform/.terraform/
infra/terraform/.keys/
**/*.tfstate
**/*.tfstate.*
**/tf.plan
**/tfplan.json
**/*.terraform.lock.hcl
**/*.exe

# Coverage
apps/api/coverage/

# Sonstiges
*.bak
coverage/
