# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Next.js
.next/
out/

# Build-Artefakte
dist/
apps/**/dist/
.turbo/

# Coverage / Test-Reports
coverage/
**/coverage/

# TypeScript-Build-Infos
**/*.tsbuildinfo

# Env-Dateien
.env
.env.*
!.env.example

# OS / IDE
.DS_Store
.vscode-test

# Terraform / Infrastruktur
.terraform/
infra/terraform/.terraform/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.*
infra/terraform/.keys/
infra/terraform/secrets/*.tfvars
!infra/terraform/secrets/*.enc.tfvars

# SOPS / AGE
**/keys.txt

# Entschlüsselte temporäre Dateien
*.tfvars.plain
*decrypted*.tfvars

# Test-Artefakte
infra/terraform/secrets/test.enc.tfvars

# Secrets (Repo-Root)
secrets/
