server:
  http_listen_port: 3100
schema_config:
  configs:
    - from: 2023-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h
storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/boltdb-cache
  filesystem:
    directory: /loki/chunks
limits_config:
  retention_period: 4320h   # 180 Tage
table_manager:
  retention_deletes_enabled: true
  retention_period: 4320h

