receivers:
  otlp:
    protocols:
      http:
      grpc:

exporters:
  loki:
    endpoint: http://loki:3100/loki/api/v1/push
  'otlp/tempo':
    endpoint: http://tempo:4317
    tls:
      insecure: true

service:
  pipelines:
    logs:
      receivers: [otlp]
      exporters: [loki]
    traces:
      receivers: [otlp]
      exporters: ['otlp/tempo']
