apiVersion: 1
datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://lokaltreu-obs-loki.fly.dev
    isDefault: true
  - name: Tempo
    type: tempo
    access: proxy
    url: http://lokaltreu-obs-tempo.fly.dev

