apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    url: http://obs-tempo:3200
    basicAuth: false
    isDefault: false
    editable: true

  - name: Loki
    type: loki
    access: proxy
    url: http://obs-loki:3100
    basicAuth: false
    isDefault: true
    editable: true
