name: iac-validate
on:
  workflow_call: {}

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - name: Terraform validate
        if: hashFiles('infra/terraform/**') != ''
        run: |
          terraform -chdir=infra/terraform fmt -check
          terraform -chdir=infra/terraform validate
