name: iac-validate
on:
  push:
    branches: [ main, chore/**, feature/** ]
  pull_request:

jobs:
  validate:
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: EU whitelist scan
        run: .\scripts\ci-terraform-eu.ps1 -Root .

      - name: terraform fmt
        run: terraform -chdir=infra/terraform fmt -check

      - name: terraform validate
        run: terraform -chdir=infra/terraform validate

      # Beispiel: Temp-Verzeichnis des Runners anzeigen
      - name: show temp dir
        run: |
          Write-Host "RUNNER_TEMP = $env:RUNNER_TEMP"
